<!doctype html>
<html>
    <head>
	<title>
            {% if the_title %}
                {{ the_title }}
            {% else %}
                PythonPortfolio
            {% endif %}
	</title>
		<meta charset="UTF-8">
                <link rel='stylesheet' href="{{ url_for('static', filename='base.css') }}"/>
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='pp_caption.png') }}" width="20%"/>
        </header>
        <main>
            <aside>
                <section>
                    <ul style='color: green'>
                        Лог:
                        <li>вы находитесь на сайте как
                        {% if current_user.is_active %}
                            {{ current_user.username }}
                        {% else %}
                            анонимный пользователь
                        {% endif %}
                        </li>
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                <li>
                                    {{ message }}
                                </li>
                            {% endfor %}
                         {% endwith %}
                    </ul>
                </section>
                <section>
                    <ul id="nava_list">
                        Структура сайта:
                        {% for i in dictionaryOfProjects %}
                            <li>
                                <a href="{{dictionaryOfProjects[i]}}">{{i}}</a>
                            </li>
                        {% endfor %}
                        {% if not current_user.is_anonymous %}
                        <li><a href="{{url_for('logout')}}">Выйти</a></li>
                        <li><a href="{{url_for('user', username=current_user.username)}}">Профиль</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Войти</a></li>
                        <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                        {% endif %}

                    </ul>
                    <script src="{{ url_for('static', filename='script_base.js')}}"></script>
                </section>
            </aside>
            <section id="left_center">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </body>
</html>
